*{
  margin: 0px;
  padding: 0px;
  margin: 0px auto;
}
#outer
{
 // position: relative;
   //         display: inline-block;
     //       border-bottom: 1px dotted #ff9800e3;
            height: 1915px;
            width: 1300;
            margin-top: 30px;
          // border: solid black;
}

#main
{
         	//position: relative;
            //display: inline-block;
            //border-bottom: 1px dotted #ff9800e3;
}
#header
{
    height: 312px;
    width: 1300px;
    // border: 1px solid #f1284e;

}
#firstline
{
	height:32px;
	width: 1279px;
	background-color: #f1284e;
     line-height:32px;
  padding-left: 20px;
}

#id1
{
  float:right;
  height: 32px;
  width: 230px;
  background-color: #f1284e;
  line-height: 40px;
  //border: 2px solid;
}

#id1 a img{
  padding-left: 0px;
}
#secondline
{
	height: 195px;
	width:100%;
     background-color: white;
}
#secondline1
{
  height: 135px;
  width:400px;
     background-color: black;
    // border: 15px solid white;
     margin: 10px;
}
#thirdline
{
     float: left;
	height: 50px;
	width:100px;
     background-color: #f1284e;
     margin-left: 27px;
     line-height:50px;

}
#fourthline
{
	float: left;
   height: 50px;
   width:1089px;
   background-color:#19232d;
   line-height: 50px;

 }
#fiveline
{
     float: left;
	height: 50px;
	width:55px;
     background-color: #f1284e;
     line-height: 50px;
       
   }
  
.logo
{
   height: 131px;
   width: 0%;
   border: none;
}

#secondline2
{
	height: 195px;
	width:200px;
     background-color: black;
     margin-left: 14px;
}

#firstline1
{
  height:30px;
  width: 0%;
  background-color: yellow;
  line-height: 30px;
}
ul
{
  list-style-type: none;
}
ul li
{
  display: inline;
  margin: 5px;  
}

#none
{
  text-decoration:none; 
}

#page1
{
  height: 881px;
  width:871px;
// border: solid black;
  float: left;
  margin-left:50px; 
}
#page-right1
{
  height: 881px;
  width:367px;
//  border: solid black;
  float: left;
}
#breaking
{
  height: 40px;
  width: 114px;
  background-color: #19232d;
  line-height: 40px;
  margin-left: 200px;
  color:white;

}
 
                        /* YOUR  IP   */

#page-right-inside1
{
  height:40px;
  width:119px; 
  //border: 2px solid black;
  float: left;
  background-color:#f1284e;
  line-height: 40px;
  margin-top: 50px;

}

#page-right-inside2
{
  height:40px;
  width:240px; 
  //border: 2px solid black;
 float: left;
 background-color:#19232d; 
 line-height: 40px;
 margin-top: 50px;
}

                            /* About ME  */


#aboutme1
{
  height:40px;
  width:119px; 
  //border: 2px solid black;
  float: left;
  background-color:#f1284e;
  line-height: 40px;
  margin-top: 50px;

}

#aboutme2
{
  height:40px;
  width:240px; 
  //border: 2px solid black;
 float: left;
 background-color:#19232d; 
 line-height: 40px;
 margin-top: 50px;
}

#aboutme3
{
  height:162px;
  width:358px; 
 // border: 2px solid black;
 float: left;
 background-color:white; 
 line-height: 40px;
 margin-top: 15px;
}


#aboutme4
{
  height:711px;
  width:358px; 
 //border: 2px solid black;
 float: left;
 background-color:white; 
 line-height: 40px;
 margin-top: 15px;
}

#detailssummary
{
  height: 200px;
  width: 350px;
}

                      /* ===============RECENT ===============*/
                      /* RECENT */
#recent
{
  height:354px;
  width:358px; 
 //border: 2px solid black;
 float: left;
 background-color:white; 
 line-height: 40px;
 margin-top: 15px;
}
#recent_text
{
  height:40px;
  width:119px; 
 // border: 2px solid black;
  float: left;
  background-color:#f1284e;
  line-height: 40px;
  margin-top: 50px;

}

#recent_text1
{
  height:40px;
  width:240px; 
 //border: 2px solid black;
 float: left;
 background-color:#19232d; 
 line-height: 40px;
 margin-top: 50px;
}  
#rec_post1
{
  height: 61px;
    width: 354px;
    border: 3px solid white;  
    float: right;
  // background-color: red;
}
#rec_post_text1
{
    height: 60px;
    width: 255px;
//   border: 3px solid white;  
  // background-color: yellow;
    margin-left: -2px;
    float: right;
}

#rec_post2
{
  height: 61px;
    width: 354px;
     border: 3px solid white;  
    float: right;
   // background-color: red;
}
#rec_post_text2
{
    height: 60px;
    width: 255px;
   //border: 10px solid yellow;  
  // background-color: yellow;
    margin-left: -2px;
    float: right;
}

#rec_post3
{
  height: 61px;
    width: 354px;
     border: 3px solid white;  
    float: right;
    //background-color: red;
}
#rec_post_text3
{
    height: 60px;
    width: 255px;
   //border: 10px solid yellow;  
//   background-color: yellow;
    margin-left: -2px;
    float: right;
}

#rec_post4
{
  height: 61px;
    width: 354px;
     border: 3px solid white;  
    float: right;
    //background-color: red;
}
#rec_post_text4
{
    height: 60px;
    width: 255px;
   //border: 10px solid yellow;  
  // background-color: yellow;
    margin-left: -2px;
    float: right;
}


                            /* RECENT */

                            /* Post For Home */ 

#posthome1
{
    height: 240px;
    width: 775px;
    //border: 10px solid white;  
    margin-left: -2px;
}

#posthometext1
{
  height: 230px;
    width: 380px;
   // border: 7px solid white;  
    float: right;
}

#posthome2
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posthometext2
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}


#posthome3
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posthometext3
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}



#posthome4
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posthometext4
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}
              

#posthome5
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posthometext5
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}

#posthome6
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posthometext6
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}


                                   /* Post For Home */

#footer
{
  height: 210px;
  width: 1250px;
  background-color: black;
}
#footer1
{
 
    height: 147px;
    width: 383px;
   // background-color: yellow;
    float: left;
    margin: 24px
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dcd5d5;
}
input
{
    color: #ff0000;
}

textarea:focus, input:focus 
{
    color: #ff0000;
}

* {
  box-sizing: border-box;
}
#footer2
{
  height: 40px;
  width: 380px;
  //border:2px solid black;
}
#footer3
{
      height: 37px;
    width: 307px;
   // border: 2px solid red;
    float: right;
}
#footer4
{

      height: 147px;
       width: 383px;
   // background-color: yellow;
    float: left;
    margin: 24px
}




/* =========== Style for How To =========== */

#post1
{
height: 240px;
width: 775px;
//border: 10px solid white;
margin-left: -2px;
}
#posttext
{
height: 230px;
width: 380px;
//border: 7px solid white;
float: right;
}

#post2
{
height: 240px;
width: 775px;
//border: 10px solid white;
margin-left: -2px;
}
#posttext2
{
height: 230px;
width: 380px;
//border: 7px solid white;
float: right;
}

#post3
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posttext3
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}

#post4
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posttext4
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}
#post5
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posttext5
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}
#post6
{
    height: 240px;
    width: 775px;
   // border: 10px solid yellow;  
    margin-left: -2px;
}

#posttext6
{
  height: 230px;
    width: 380px;
  //  border: 7px solid yellow;  
    float: right;
}

                      /*   CONTACT US   */

.contact
{
    height: 640px;
    width: 775px;
    //border: 10px solid black;  
    margin-left: -2px;
    font-size: 20px;
     color: #f1284e;
     font-family:impact;

}                 
.contact input
{
  height: 40px;
  width: 350px;
  background-color: bisque;
  border-radius:10px 0px 10px 0px;
  //border-bottom-left-radius: 10px 10px;
}

::placeholder 
{
  color: red;
  opacity: 1; /* Firefox */
}

                                  /*   tech tips */

#techtips1
{
    height: 315px;
    width: 775px;
   //border: 10px solid yellow;  
    margin-left: -2px;
}




















